[Desktop Entry]
Name=Lunduke Edit
GenericName=Text Editor
Comment=A light text editor for the Lunduke Computer Operating System
Exec=lunduke-edit %F
Icon=org.lunduke.LundukeEdit
Terminal=false
Type=Application
Categories=Utility;TextEditor;
MimeType=text/plain;
StartupNotify=true
StartupWMClass=lunduke-edit
Keywords=Text;Editor;Plain;Notepad;
